@{
    ViewBag.Title = "Contato";
}

<h2>@ViewBag.Message</h2>
<address>
    <br />
    <br />
    <h3>Matheus Gabryel</h3>
    <strong>E-Mail: matheus.dev.gabryel@outlook.com </strong>
    <br />
    <a href="https://www.linkedin.com/in/matheus-gabryel/">Perfil Linkedin</a>
    <br />
    <br />
    <br />
</address>