@{
    ViewBag.Title = "Sobre a Indigo";
}

<div>
    <form>
        <p class="font_8" style="text-align:justify;font-size:14px"><span class="wixGuard">​</span></p>
        <p class="font_8" style="text-align:justify;font-size:14px"><span class="wixGuard">​</span></p>
        <img src="https://static.wixstatic.com/media/5b6ebd_c30e787148374f2c8f8f73cbad3af2cd~mv2.png/v1/fill/w_185,h_47,al_c,q_85,usm_0.66_1.00_0.01/LOGO%20ORIGINAL%20INDIGOSOFT.webp" alt="LOGO ORIGINAL INDIGOSOFT.png" style="width:185px;height:47px;object-fit:cover;object-position:50% 50%">
        <p class="font_8" style="text-align:justify;font-size:14px"><span class="wixGuard">​</span></p>
        <p class="font_8" style="text-align:justify;font-size:14px"><span class="wixGuard">​</span></p>
        <p class="font_8" style="text-align:justify;font-size:14px">A Indigosoft está comprometida com a oferta de soluções de <span style="font-weight:bold">Automação</span> para empresas de qualquer área de atuação. Queremos mudar o&nbsp;mundo por meio da&nbsp;<span style="font-weight:bold">Transformação Digital</span>.</p>
        <p class="font_8" style="text-align:justify;font-size:14px"><span class="wixGuard">​</span></p>
        <p class="font_8" style="text-align:justify;font-size:14px">Nossa jovem equipe reúne pessoas apaixonadas pela&nbsp;revolução digital com ética, fidelidade e respeito, entregando projetos com foco na oferta de soluções que conectam simplicidade, humanização, economia, desenvolvimento humano e apoio ao empreendedorismo e à diversidade.</p>
        <p class="font_8" style="text-align:justify;font-size:14px"><span class="wixGuard">​</span></p>
        <p class="font_8" style="text-align:justify;font-size:14px">Gostamos de dizer que criamos soluções tão disruptivas que se revelam em verdadeiras <span style="font-weight:bold">Alquimias Digitais</span>, transformando completamente as operações de empresas de todos os setores de atuação e desmaterializando&nbsp;o que hoje é físico e caro e&nbsp;transferindo serviços custosos de tempo e dinheiro para o mundo digital de forma escalável e barata.​</p>
        <br />
        <br />
        <a href="http://www.indigosoft.com.br/">Site de nossa empresa.</a>
    </form>
</div>