
@{
    ViewBag.Title = "Cep não encontrado";
}

<body>

    <h2>Cep não encontrado</h2>

    <h4>O cep pesquisado não foi encontrado, clique no botão abaixo para realizar uma nova busca</h4>

    <a href="/Busca/Buscar">
        <input type="button" value="NOVA BUSCA" />
    </a>

</body>

